input {
    border: 0;
    /* background-color: #f1f4ff; */
    background-color: transparent;
}

.ein-number {
    width: 20px;
    height: 20px;
}

.ein-number-2 {
    width: 15px;
    height: 20px;
}

.container-fluid {
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    position: relative;
}

.two-digit {
    position: absolute;
    top: 85px;
    left: 198px;
    font-size: medium;
}

.two-digit-2 {
    position: absolute;
    top: 84px;
    left: 282px;
    font-size: medium;
}

/* name-box */
.name-text {
    position: absolute;
    top: 113px;
    left: 176px;
    font-size: medium;

}

.name-text input {
    height: 20px;
    width: 250px;
    font-size: medium;

}

/* trade-box */
.trade-text {
    position: absolute;
    top: 143px;
    left: 147px;
    font-size: medium;

}

.trade-text input {
    height: 20px;
    width: 250px;
    font-size: medium;

}

/* address-text */
.Address-text {
    position: absolute;
    top: 174px;
    left: 102px;
    font-size: medium;

}

.Address-text input {
    height: 20px;
    width: 250px;
    font-size: medium;

}

/* city-text */
.city-text {
    position: absolute;
    top: 211px;
    left: 102px;
    font-size: medium;

}

.city-text input {
    height: 20px;
    width: 225px;
    font-size: medium;

}

/* state-text */
.state-text {
    position: absolute;
    top: 211px;
    left: 355px;
    font-size: medium;

}

.state-text input {
    height: 20px;
    width: 30px;
    font-size: medium;

}

/* zipcode-text */
.zipcode-text {
    position: absolute;
    top: 211px;
    left: 410px;
    font-size: medium;

}

.zipcode-text input {
    height: 20px;
    width: 80px;
}

/* country */
.country {
    position: absolute;
    top: 249px;
    left: 102px;
}

.country input {
    height: 20px;
    width: 100px;
}

/* foreign */
.foreign {
    position: absolute;
    top: 247px;
    left: 292px;
}

.foreign input {
    height: 20px;
    width: 100px;
}

/* postal-code */
.postal-code {
    position: absolute;
    top: 249px;
    left: 410px;
}

.postal-code input {
    height: 20px;
    width: 80px;
}

.row1 {
    position: absolute;
    top: 367px;
    left: 630px;
    font-size: medium;

}

.row1 input {
    height: 20px;
    width: 80px;
}

.row2 {
    position: absolute;
    top: 393px;
    left: 612px;
    font-size: medium;
}

.row2 input {
    height: 20px;
    width: 80px;
}

.row3 {
    position: absolute;
    top: 418px;
    left: 653px;
    font-size: medium;

}

.row3 input {
    height: 20px;
    width: 80px;
}

.row4 {
    position: absolute;
    top: 446px;
    left: 528px;
}

.row4 input {
    height: 15px;
    width: 80px;
}

.row5a {
    position: absolute;
    top: 485px;
    left: 309px;
    font-size: medium;
}

.row5a input {
    height: 20px;
    width: 80px;
    font-size: medium;
}

.row5a2 {
    position: absolute;
    top: 485px;
    left: 491px;
    font-size: medium;
}

.row5a2 input {
    height: 20px;
    width: 80px;
}

.row5b {
    position: absolute;
    top: 510px;
    left: 321px;
}

.row5b input {
    height: 20px;
    width: 80px;
}

.row5b2 {
    position: absolute;
    top: 510px;
    left: 493px;
}

.row5b2 input {
    height: 20px;
    width: 80px;
}

.row5c {
    position: absolute;
    top: 535px;
    left: 309px;
    font-size: medium;

}

.row5c input {
    height: 20px;
    width: 80px;
}

.row5c2 {
    position: absolute;
    top: 535px;
    left: 500px;
    font-size: medium;

}

.row5c2 input {
    height: 20px;
    width: 80px;
}

.row5d {
    position: absolute;
    top: 568px;
    left: 321px;
    font-size: medium;

}

.row5d input {
    height: 20px;
    width: 80px;
}

.row5d2 {
    position: absolute;
    top: 568px;
    left: 493px;
}

.row5d2 input {
    height: 20px;
    width: 80px;
}

.row5e {
    position: absolute;
    top: 595px;
    left: 655px;
    font-size: medium;

}

.row5e input {
    height: 20px;
    width: 80px;
}

.row5f {
    position: absolute;
    top: 621px;
    left: 655px;
    font-size: medium;

}

.row6 {
    position: absolute;
    top: 646px;
    left: 655px;
    font-size: medium;

}

.row7 {
    position: absolute;
    top: 670px;
    left: 655px;
}

.row8 {
    position: absolute;
    top: 696px;
    left: 655px;
}

.row9 {
    position: absolute;
    top: 721px;
    left: 655px;
}

.row10 {
    position: absolute;
    top: 746px;
    left: 655px;
    font-size: medium;

}

.row11 {
    position: absolute;
    top: 772px;
    left: 655px;
}

.row12 {
    position: absolute;
    top: 790px;
    left: 655px;
    font-size: medium;
}

.row13 {
    position: absolute;
    top: 829px;
    left: 655px;
}

.row14 {
    position: absolute;
    top: 856px;
    left: 655px;
}

.row15 {
    position: absolute;
    top: 882px;
    left: 429px;
}

.row15a {
    position: absolute;
    top: 885px;
    left: 562px;
}

.row15b {
    position: absolute;
    top: 885px;
    left: 653px;
}

/* second-page */
.f41-name {
    position: absolute;
    top: 68px;
    left: 129px;
    font-size: medium;

}

.f41-ein {
    position: absolute;
    top: 70px;
    left: 526px;
    font-size: medium;

}

.row16a {
    position: absolute;
    top: 132px;
    left: 138px;
}

.row16b {
    position: absolute;
    top: 193px;
    left: 138px;
}

.row16c {
    position: absolute;
    top: 336px;
    left: 138px;
}

.tax-month1 {
    position: absolute;
    top: 229px;
    left: 391px;
}

.tax-month2 {
    position: absolute;
    top: 257px;
    left: 391px;
}

.tax-month3 {
    position: absolute;
    top: 284px;
    left: 391px;
}

.total-quater {
    position: absolute;
    top: 311px;
    left: 391px;
}

.row17 {
    position: absolute;
    top: 388px;
    left: 607px;
}

.row17a {
    position: absolute;
    top: 412px;
    left: 267px;
}

.row18 {
    position: absolute;
    top: 441px;
    left: 607px;
}

.row18a {
    position: absolute;
    top: 511px;
    left: 81px;
}

.row18b {
    position: absolute;
    top: 511px;
    left: 333px;
}

.row18c {
    position: absolute;
    top: 511px;
    left: 579px;
}

.row18d {
    position: absolute;
    top: 564px;
    left: 81px;
}

.row19 {
    position: absolute;
    top: 651px;
    left: 156px;
}

.row19-date {
    position: absolute;
    top: 708px;
    left: 148px;
    font-size: medium;

}

.row19-day {
    position: absolute;
    top: 708px;
    left: 545px;
    font-size: medium;
}

.row19-title {
    position: absolute;
    top: 670px;
    left: 503px;
    font-size: medium;
}

.row19-name {
    position: absolute;
    top: 639px;
    left: 503px;
    font-size: medium;
}


.pre-name {
    position: absolute;
    top: 765px;
    left: 162px;
}

.pre-sign {
    position: absolute;
    top: 794px;
    left: 162px;
}

.first-name {
    position: absolute;
    top: 825px;
    left: 162px;
}

.address {
    position: absolute;
    top: 857px;
    left: 162px;
}

.pre-city {
    position: absolute;
    top: 885px;
    left: 162px;
}

.pre-state {
    position: absolute;
    top: 887px;
    left: 442px;
}

.pre-pin {
    position: absolute;
    top: 765px;
    left: 566px;
}

.pre-date {
    position: absolute;
    top: 794px;
    left: 566px;
}

.pre-ein {
    position: absolute;
    top: 833px;
    left: 566px;
}

.pre-phone {
    position: absolute;
    top: 857px;
    left: 566px;
}

.pre-zipcode {
    position: absolute;
    top: 885px;
    left: 566px;
}

.row1-ein {
    position: absolute;
    bottom: 329px;
    left: 83px
}

/* third-page */

.cent {
    position: absolute;
    bottom: 330px;
    left: 690px;
}

.row1-ein {
    position: absolute;
    bottom: 329px;
    left: 83px
}

.dollar {
    position: absolute;
    bottom: 330px;
    left: 589px;
}

.busniess-name {
    position: absolute;
    bottom: 297px;
    left: 290px;
}

.b-address {
    position: absolute;
    bottom: 266px;
    left: 290px;
}

.city-state-code {
    position: absolute;
    bottom: 235px;
    left: 290px;
}

.q1 {
    position: absolute;
    bottom: 284px;
    left: 65px;
}

.q2 {
    position: absolute;
    bottom: 244px;
    left: 65px;
}

.q3 {
    position: absolute;
    bottom: 282px;
    left: 173px;
}

.q4 {
    position: absolute;
    bottom: 244px;
    left: 173px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .container-fluid {
        width: 32cm !important;
        height: 30cm !important;
        margin: 0;
        position: relative;
    }

    .two-digit {
        top: 135px;
        left: 300px;
    }

    .two-digit-2 {
        top: 135px;
        left: 430px;
    }

    .ein-number {
        width: 25px;
        height: 25px;
    }

    .second-value {
        margin-left: 15px;
    }

    input {
        border: 0;
        background-color: transparent !important;
    }

    input.ein-number {
        border: 0 !important;
        background-color: transparent !important;
    }

    .name-text {
        position: absolute;
        top: 180px;
        left: 266px;
    }

    .name-text input {
        height: 20px;
        width: 250px;
    }

    .print-check {
        margin-left: 35px !important;
    }

    .print-check-2 {
        margin-left: 35px !important;
    }

    .print-check-3 {
        margin-left: 30px !important;
    }

    .print-check-4 {
        margin-left: 30px !important;
    }

    .print-check-5 {
        margin-left: 30px !important;
    }

    .print-check-6 {
        margin-left: 30px !important;
    }

    /* trade-box */
    .trade-text {
        position: absolute;
        top: 225px;
        left: 225px;
    }

    .trade-text input {
        height: 20px;
        width: 250px;
    }

    /* address-text */
    .Address-text {
        position: absolute;
        top: 273px;
        left: 160px;
    }

    .Address-text input {
        height: 20px;
        width: 250px;
    }

    /* city-text */
    .city-text {
        position: absolute;
        top: 330px;
        left: 160px;
    }

    .city-text input {
        height: 20px;
        width: 225px;
    }

    /* state-text */
    .state-text {
        position: absolute;
        top: 330px;
        left: 550px;
    }

    .state-text input {
        height: 20px;
        width: 30px;
    }

    /* zipcode-text */
    .zipcode-text {
        position: absolute;
        top: 330px;
        left: 650px;
    }

    .zipcode-text input {
        height: 20px;
        width: 80px;
    }

    /* country */
    .country {
        position: absolute;
        top: 390px;
        left: 160px;
    }

    .country input {
        height: 20px;
        width: 100px;
    }

    /* foreign */
    .foreign {
        position: absolute;
        top: 390px;
        left: 450px;
    }

    .foreign input {
        height: 20px;
        width: 100px;
    }

    /* postal-code */
    .postal-code {
        position: absolute;
        top: 390px;
        left: 650px;
    }

    .postal-code input {
        height: 20px;
        width: 80px;
    }

    .row1 {
        position: absolute;
        top: 570px;
        left: 990px;
    }

    .row1 input {
        height: 20px;
        width: 80px;
    }

    .row2 {
        position: absolute;
        top: 610px;
        left: 1030px;
    }

    .row2 input {
        height: 20px;
        width: 80px;
    }

    .row3 {
        position: absolute;
        top: 650px;
        left: 1040px;
    }

    .row3 input {
        height: 20px;
        width: 80px;
    }

    .row4 {
        position: absolute;
        top: 692px;
        left: 835px;
    }

    .row4 input {
        height: 20px;
        width: 80px;
    }

    .row5a {
        position: absolute;
        top: 755px;
        left: 515px;
    }

    .row5a input {
        height: 20px;
        width: 80px;
    }

    .row5a2 {
        position: absolute;
        top: 755px;
        left: 780px;
    }

    .row5a2 input {
        height: 20px;
        width: 80px;
    }

    .row5b {
        position: absolute;
        top: 795px;
        left: 515px;
    }

    .row5b input {
        height: 20px;
        width: 80px;
    }

    .row5b2 {
        position: absolute;
        top: 795px;
        left: 780px;
    }

    .row5b2 input {
        height: 20px;
        width: 80px;
    }

    .row5c {
        position: absolute;
        top: 835px;
        left: 515px;
    }

    .row5c input {
        height: 20px;
        width: 80px;
    }

    .row5c2 {
        position: absolute;
        top: 835px;
        left: 498px;
    }

    .row5c2 input {
        height: 20px;
        width: 80px;
    }

    .row5d {
        position: absolute;
        top: 885px;
        left: 515px;
    }

    .row5d input {
        height: 20px;
        width: 80px;
    }

    .row5d2 {
        position: absolute;
        top: 885px;
        left: 780px;
    }

    .row5d2 input {
        height: 20px;
        width: 80px;
    }

    .row5e {
        position: absolute;
        top: 927px;
        left: 1030px;
    }

    .row5f {
        position: absolute;
        top: 964px;
        left: 1030px;
    }

    .row6 {
        position: absolute;
        top: 1004px;
        left: 1030px;
    }

    .row7 {
        position: absolute;
        top: 1044px;
        left: 1030px;
    }

    .row8 {
        position: absolute;
        top: 1084px;
        left: 1030px;
    }

    .row9 {
        position: absolute;
        top: 1124px;
        left: 1030px;
    }

    .row10 {
        position: absolute;
        top: 1164px;
        left: 1030px;
    }

    .row11 {
        position: absolute;
        top: 1200px;
        left: 1030px;
    }

    .row12 {
        position: absolute;
        top: 1240px;
        left: 1030px;
    }

    .row13 {
        position: absolute;
        top: 1290px;
        left: 1030px;
    }

    .row14 {
        position: absolute;
        top: 1330px;
        left: 1030px;
    }

    .row15 {
        position: absolute;
        top: 1370px;
        left: 681px;
    }

    .row15a {
        position: absolute;
        top: 1370px;
        left: 865px;
    }

    .row15a input {
        height: 25px;
        width: 25px;
    }

    .row15b {
        position: absolute;
        top: 1370px;
        left: 998px;
    }

    .row15b input {
        height: 25px;
        width: 25px;
    }

    /* second-page */
    .f41-name {
        position: absolute;
        top: 110px;
        left: 129px;
    }

    .f41-ein {
        position: absolute;
        top: 110px;
        left: 785px;
    }

    .row16a {
        position: absolute;
        top: 209px;
        left: 213px;
    }

    .row16a input {
        height: 25px;
        width: 20px;
    }

    .row16b {
        position: absolute;
        top: 298px;
        left: 213px;
    }

    .row16b input {
        height: 25px;
        width: 20px;
    }

    .row16c {
        position: absolute;
        top: 520px;
        left: 213px;
    }

    .row16c input {
        height: 25px;
        width: 20px;
    }

    .tax-month1 {
        position: absolute;
        top: 363px;
        left: 617px;
    }

    .tax-month2 {
        position: absolute;
        top: 405px;
        left: 617px;
    }

    .tax-month3 {
        position: absolute;
        top: 445px;
        left: 617px;
    }

    .total-quater {
        position: absolute;
        top: 487px;
        left: 617px;
    }

    .row17 {
        position: absolute;
        top: 520px;
        left: 213px;
    }

    .row17 input {
        height: 25px;
        width: 20px;
    }

    .row17 {
        position: absolute;
        top: 600px;
        left: 933px;
    }

    .row17a {
        position: absolute;
        top: 640px;
        left: 425px;
    }

    .row18 {
        position: absolute;
        top: 685px;
        left: 933px;
    }

    .row18 input {
        height: 25px;
        width: 20px;
    }

    .row18a {
        position: absolute;
        top: 790px;
        left: 127px;
    }

    .row18a input {
        height: 25px;
        width: 20px;
    }

    .row18b {
        position: absolute;
        top: 790px;
        left: 550px;
    }

    .row18c {
        position: absolute;
        top: 790px;
        left: 900px;
    }

    .row18d {
        position: absolute;
        top: 872px;
        left: 127px;
    }

    .row18d input {
        height: 25px;
        width: 20px;
    }

    .row19 {
        position: absolute;
        top: 1008px;
        left: 225px;
    }

    .row19-date {
        position: absolute;
        top: 1095px;
        left: 232px;
    }

    .row19-day {
        position: absolute;
        top: 1095px;
        left: 850px;
    }

    .row19-title {
        position: absolute;
        top: 1036px;
        left: 770px;
    }

    .row19-name {
        position: absolute;
        top: 990px;
        left: 770px;
    }




    .pre-name {
        position: absolute;
        top: 1185px;
        left: 250px;
    }

    .pre-sign {
        position: absolute;
        top: 1235px;
        left: 250px;
    }

    .first-name {
        position: absolute;
        top: 1280px;
        left: 250px;
    }

    .address {
        position: absolute;
        top: 1325px;
        left: 250px;
    }

    .pre-city {
        position: absolute;
        top: 1370px;
        left: 250px;
    }

    .pre-state {
        position: absolute;
        top: 1370px;
        left: 691px;
    }

    .pre-zipcode {
        position: absolute;
        top: 1370px;
        left: 891px;
    }

    .pre-pin {
        position: absolute;
        top: 1185px;
        left: 870px;
    }

    .pre-date {
        position: absolute;
        top: 1235px;
        left: 870px;
    }

    .pre-ein {
        position: absolute;
        top: 1280px;
        left: 870px;
    }

    .pre-phone {
        position: absolute;
        top: 1325px;
        left: 870px;
    }

    /* third-poage */
    .row1-ein {
        position: absolute;
        bottom: -80px;
        left: 120px
    }

    .dollar {
        position: absolute;
        bottom: -80px;
        left: 900px
    }

    .cent {
        position: absolute;
        bottom: -80px;
        left: 1080px
    }

    .busniess-name {
        position: absolute;
        bottom: -130px;
        left: 440px
    }

    .b-address {
        position: absolute;
        bottom: -180px;
        left: 440px
    }

    .city-state-code {
        position: absolute;
        bottom: -225px;
        left: 440px
    }

    .q1 {
        position: absolute;
        bottom: -158px;
        left: 100px
    }

    .q1 input {
        height: 25px;
        width: 20px;
    }

    .q2 {
        position: absolute;
        bottom: -220px;
        left: 100px
    }

    .q3 {
        position: absolute;
        bottom: -160px;
        left: 265px;
    }

    .q4 {
        position: absolute;
        bottom: -220px;
        left: 265px;
    }

    .q2 input {
        height: 25px;
        width: 20px;
    }

    .q3 input {
        height: 25px;
        width: 20px;
    }

    .q4 input {
        height: 25px;
        width: 20px;
    }

}

.qq1 input, .qq2 input, .qq3 input, .qq4 input {
    height: 15px;
    width: 20px
}

.qq1 {
    position: absolute;
    top: 115px;
    left: 531px;
}

.qq2 {
    position: absolute;
    top: 136px;
    left: 531px;
}

.qq3 {
    position: absolute;
    top: 156px;
    left: 531px;
}

.qq4 {
    position: absolute;
    top: 177px;
    left: 531px;
}